@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,700,700i&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500&subset=latin-ext');

body {
  font-family: Rubik, sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  font-style: normal;
  color: rgb(216,216,216);
  background-color: rgb(32,32,32);
  line-height: 1.35;
  padding: 0.75rem;
  margin: 0;
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
}

h1,h2,h3,h4,h5,h6,p {
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

h1 {
  font-weight: 400;
  border-bottom: 0.05rem solid rgb(216,216,216);
  font-size: 220%;
}

h2 {
  font-weight: 400;
  border-bottom: 0.05rem solid rgb(216,216,216);
  font-size: 180%;
}

h3 {
  font-weight: 700;
  font-size: 150%;
}

h4,h5,h6 {
  font-weight: 700;
  font-size: 110%;
}

pre,code {
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
  padding: 0.5rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre.editor {
  font-weight: 500;
  font-family: 'Source Code Pro', monospace;
  margin-bottom: 1em;
  margin-top: 0;
  margin-left: 1em;
  border: 0.15em solid #000;
  border-bottom-left-radius: 1em;
  border-top-right-radius: 2em;
  padding: 0.75em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

pre.editor-colors {
  border-color: #131313;
  background-color: #2E2E2E;
}

hr {
  margin: 0;
  padding: 0;
  margin-bottom: 0.75rem;
  border: 0;
  height: 0.075em;
  background-image: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: square;
}

a {
  -webkit-transition: border 300ms ease-in-out;
  -moz-transition: border 300ms ease-in-out;
  -o-transition: border 300ms ease-in-out;
  -ms-transition: border 300ms ease-in-out;
  transition: border 300ms ease-in-out;
  text-decoration: none;
  color: rgb(93,144,221);
}

a,a:visited {
  border-bottom: 0.1em solid rgba(93,144,221,0);
}

a:active,a:hover {
  border-bottom: 0.1em solid rgba(93,144,221,1);
}
